<!DOCTYPE html>
<html lang="en">


<%- include ("includes/head") %>

    <body>
        <%- include ("components/navbar") %>
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-4xl font-bold text-center mt-8"><a href="/">BlogBuddy</a></h1>
                <div class="w-full max-w-xl p-8 bg-white rounded-lg shadow-md mt-8">
                    <form>
                        <div class="mb-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="prompt">
                                Masukkan judul artikel
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="prompt" type="text" placeholder="Masukkan judul artikel disini" name="prompt"
                                required>
                            <p id="alertInput" class="text-xs text-red-600 italic opacity-0 transition-opacity duration-500 ease-in-out">*Maaf guys, tolong masukkan judul artikel terlebih dahulu.</p>
                        </div>

                        <div class="mb-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2">
                                Pilih Tipe <i>Featured Snippet</i>
                            </label>
                            <div class="space-y-2">
                                <div class="flex items-center">
                                    <input type="radio" id="definition-box" name="snippet-type" value="definition">
                                    <label for="definition-box" class="ml-2">Definition Box</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="radio" id="table" name="snippet-type" value="table">
                                    <label for="table" class="ml-2">Table</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="radio" id="ordered-list" name="snippet-type" value="ordered-list">
                                    <label for="ordered-list" class="ml-2">Ordered List</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="radio" id="unordered-list" name="snippet-type" value="unordered-list">
                                    <label for="unordered-list" class="ml-2">Unordered List</label>
                                </div>
                                <p id="alertSnippet" class="mt-2 text-xs text-red-600 italic opacity-0 transition-opacity duration-500 ease-in-out">*Maaf guys, tolong pilih tipe Featured Snippet terlebih dahulu.</p>
                            </div>
                        </div>

                        <div class="text-center">
                            <button 
                                x-data="{ generating: false }"
                                @click="generating = await handleClick($event); setTimeout(() => { generating = false}, 45000)"
                                type="button"
                                class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 w-full md:w-auto"
                                x-bind:disabled="generating"
                                :class="{ 'opacity-50 cursor-not-allowed': generating }"
                                >
                                <span x-show="!generating">Buat Artikel</span>
                                <span x-show="generating" class="flex"><img class="mr-1" src="/img/loading.gif" width="17px" height="10px"> Sedang membuat artikel...</span>
                            </button>                            
                        </div>
                    </form>
                </div>
                <div class="hidden w-full max-w-xl p-8 bg-white rounded-lg shadow-md mt-8" id="boxResult">
                    <div class="mb-2 text-xs text-right">
                        <button id="btn-copy" class="p-1 bg-gray-300 text-gray-700 rounded" onclick="copyToClipboard()">Copy Text</button>
                    </div>
                    <div class="break-words text-sm" id="output-container"></div>
                </div>
            </div>

            <%- include ("components/footer") %>
    
            <script>
                async function generate(){
                    const prompt = document.getElementById("prompt").value
                    const snippetType = document.querySelectorAll('input[name="snippet-type"]');
                    const output = document.getElementById("output-container")
                    let snippet = ""    
                    snippetType.forEach(input => {
                        if (input.checked) {
                            snippet = input.value
                        }
                    });
                    const response = await fetch("/generate-content", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            prompt,
                            snippet
                        })

                     })

                    const reader = response.body.getReader();
                    const decoder = new TextDecoder();
                    let isFinished = false;
                    let chunk = ""
                    while (!isFinished){
                        const { done, value } = await reader.read();
                        if (done) {
                            isFinished = true;
                            break;
                        }

                        const chunkText = decoder.decode(value);
                        chunk += chunkText
                        output.innerHTML = chunk
                    }
                
                }

                async function handleClick(event){
                    const promptInput = document.getElementById('prompt');
                    const snippetTypeInputs = document.querySelectorAll('input[name="snippet-type"]');
                    const boxResult = document.getElementById("boxResult")
                    const alertInput = document.getElementById("alertInput")
                    const alertSnippet = document.getElementById("alertSnippet")

                    // Pemeriksaan jika input prompt kosong
                    if (promptInput.value.trim() === '') {
                        event.preventDefault(); // Mencegah pengiriman formulir jika input kosong
                        alertInput.classList.add("opacity-100")
                        setTimeout(()=>{
                            alertInput.classList.remove("opacity-100")
                        }, 3000)
                        return false;
                    }
                    // Pemeriksaan jika tidak ada tipe snippet yang dipilih
                    let snippetTypeChecked = false;
                    snippetTypeInputs.forEach(input => {
                        if (input.checked) {
                            snippetTypeChecked = true;
                        }
                    });
                    if (!snippetTypeChecked) {
                        event.preventDefault(); // Mencegah pengiriman formulir jika tidak ada tipe snippet yang dipilih
                        alertSnippet.classList.add("opacity-100") 
                        setTimeout(() => {
                            alertSnippet.classList.remove("opacity-100") 
                        }, 3000);
                        return false;
                    }

                    // Jika semua pemeriksaan berhasil, lanjutkan dengan tindakan yang diinginkan
                    setTimeout(async function() {
                        await generate();
                    });
                    
                    setTimeout(function() {
                        boxResult.classList.remove("hidden");
                    }, 8000);
                    
                    return true
                     
                }

                function copyToClipboard() {
                    const btnCopy = document.getElementById("btn-copy")
                    const outputContainer = document.getElementById("output-container");
                    const range = document.createRange();

                    if(btnCopy.textContent == "Copy Text ✓"){
                        return
                    }

                    range.selectNode(outputContainer);
                    let selection = window.getSelection();
                    selection.removeAllRanges();
                    selection.addRange(range);

                    try {
                        document.execCommand("copy");
                        btnCopy.innerHTML += " &check;"
                        setTimeout(function() {
                            btnCopy.textContent = "Copy Text"
                        }, 5000);
                    } catch (err) {
                        console.error("Gagal menyalin ke clipboard:", err);
                    } finally {
                        selection.removeAllRanges();
                    }

                }
            </script>
    </body>

</html>