<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogBuddy - Generate Blog Post Content with LLM</title>
    <meta name="description"
        content="Generate high-quality blog post content effortlessly using BlogBuddy powered by Language Model.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://blogbuddy.megalogic.id">
    <meta property="og:title" content="BlogBuddy - Generate Blog Post Content with LLM">
    <meta property="og:description"
        content="Generate high-quality blog post content effortlessly using BlogBuddy powered by Language Model.">
    <meta property="og:image" content="https://blogbuddy.megalogic.id/img/banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://blogbuddy.megalogic.id">
    <meta property="twitter:title" content="BlogBuddy - Generate Blog Post Content with LLM">
    <meta property="twitter:description"
        content="Generate high-quality blog post content effortlessly using BlogBuddy powered by Language Model.">
    <meta property="twitter:image" content="https://blogbuddy.megalogic.id/img/banner.png">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
</head>